.product {
  height: 100vh;
  outline: 1px solid red;
  display: flex;
  flex-direction: column;

  #header {
    position: fixed;
    width: 100%;
    // z-index: $z-header;
    // Defensive styles in case header height goes over 100px, causing
    // the left gutter menu to be on top of the header.
    height: $header-height;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
  }

  main {
    background-color: rgba(0, 0, 0, .3);
    flex: 1;
    margin-top: $header-height;
    > * {
      &.is-one-quarter {
        // position: fixed;
        // bottom: 0;
        // top: $header-height;
      }
    }
  }
}
dl {
  margin-left: 400px;
  overflow: hidden;
  display: inline-block;
  width: 300px;
}
dt {
  font-weight: bold;
}
dt::after {
  content: ":";
  display: inline;
}
dl > * {
  float: left;
  width: 50%;
}
main > .column {
  height: 100%;
  position: relative;
}
