{{#hashicorp-consul}}
  {{#block-slot "internal-navigation"}}Error{{/block-slot}}
  {{#block-slot "menu"}}{{/block-slot}}
  {{#block-slot "content"}}
    <div style="background-color: rgba(0, 0, 0, .8);color: white;width: 200px;height: 200px;">
      Error
    </div>
  {{/block-slot}}
{{/hashicorp-consul}}
