{{#hashicorp-consul}}
  {{#block-slot "internal-navigation"}}Index{{/block-slot}}
  {{#block-slot "content"}}
    <ul>
    {{#each model as |item|}}
      <li>
        {{#link-to "datacenter" item.Name }}{{ item.Name }}{{/link-to}}
      </li>
    {{/each}}
    </ul>
  {{/block-slot}}
{{/hashicorp-consul}}
